@import 'src/variables';

$text-shadow: 1px 1px black;

body {
  background-color: $porcelain !important;
}

.app {
  h1 {
    color: $yellow;
    font-size: 30px;
    margin: 15px 0;
    padding: 0 30px;
    text-shadow: $text-shadow;
  }

  h2 {
    font-size: 26px;
  }

  td {
    vertical-align: middle !important;
    cursor: pointer;
    word-break: break-all;
    max-width: 500px;
  }

  .form-control,
  .custom-select {
    height: 40px;

    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    }
  }

  .table-description-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 114px;
    max-width: 470px;
  }

  .page-item {
    .page-link {
      cursor: pointer;
      color: $eletric-violet;
    }

    &.active {
      .page-link {
        background-color: $eletric-violet !important;
        border-color: $eletric-violet !important;
        color: $yellow;
      }
    }
  }

  .btn {
    &-primary {
      background-color: $eletric-violet;
      border-color: $eletric-violet;

      &:hover,
      &:focus,
      &:active {
        background-color: $eletric-violet !important;
        border-color: $eletric-violet !important;
        color: $yellow !important;
        box-shadow: 0 0 0 1px $yellow;

        svg {
          fill: $yellow;
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    }
  }

  .col-small {
    width: 100px;
  }

  .col-med {
    width: 250px;
  }

  .px30 {
    padding: 0 30px;
  }
}
