@import 'src/variables';

.app {
  h1 {
    color: $buttercup;
    font-size: 34px;
    margin: 15px 0;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;

    &__txt {
      font-size: 20px;
    }
  }
}
